*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body { font-family: "OpenSans-Light", Helvetica, Arial, sans-serif; }
u1 { font-family: "Roboto","OpenSans-Light",Helvetica,Arial,sans-serif;
font-weight: 400;
}
header { background: #2d2f31;
position: sticky;
top: 0;
z-index: 1;}
header nav,
footer nav {
 display: flex;
 justify-content: space-between;
 max-width: 960px;
 margin: auto;
 padding: 0 30px;
}
header ul,
footer ul {
 font-family: "Roboto", "OpenSans-Light", Helvetica, Arial, sans-serif;
 font-weight: 300;
 display: flex;
 justify-content: flex-end;
 align-items: center;
 flex: 1;
}

header li,
footer li {
 display: inline-block;
 padding: 15px 25px;
 color: #ffffff;
}
header nav img {
 width: 35px;
 padding: 15px 0;
}
header nav a,
footer nav a {
 color: #ffffff;
 text-decoration: none;
 border-bottom: 1px solid transparent;
 transition: border 250ms ease-in-out;
}
header nav a:hover
footer nav a:hover {
 border-bottom: 1px solid #ffffff;
}
.top-image { width: 100%;
}
.top-image-sub {
  height: 100px;
  object-fit: cover;
}
footer {
  background: #2d2f31;
  padding-bottom: 10px;
}
.brand {
  display: flex;
  justify-content: center;
  align-items: center;
}
.brand span {
  font-size: 42px;
  font-weight: 400;
  color:white;
  font-family: "Roboto","OpenSans-Light",Helvetica, Arial,sans-serif;
  line-height: 1;
  margin-left: 15px;
}
.brand img {
  width: 35px;
}
.social {
  display: flex;
  justify-content: center;
}
.social a{
  margin: 10px;
}
.social img {
  width: 30px;
}
.copyright {
  font-size: 14px;
  margin-top: 10px;
  text-align: center;
  color:rgba(255,255,255,0.5)
}

footer ul {
 justify-content: center;
}
.main-title {
  text-align: center;
  font-size: 32px;
  font-weight: 400;
  color: #313131;
}
.delimiter {
  width: 100px;
  margin: 10px auto 15px;
  height: 1px;
  background: rgba(206,65,110,0.74);
}
.main-title-description{
  color: #616161;
  text-align: center;
}
.slider-section {
  margin: 50px 0;
}
.slider-container {
  max-width: 1200px;
  height: 375px;
  margin: 50px auto;
  position: relative;
}
.slider-image {
  height: 100%;
  width: 100%;
  background-image: url('../img/slider/bootstrap01.jpg');
  background-position: center;
  background-size: cover;
}
.slider-arrow {
  position: absolute;
  top: 0;
  bottom: 0;
  cursor: pointer;
  width: 30%;
  opacity: 0;
  transition: opacity 350ms ease-in-out;
}
.slider-arrow.left {
  left: 0;
  background: linear-gradient(90deg, rgba(0, 18, 36, 1)0%, rgba(0, 212, 255, 0)100%);
}
.slider-arrow.right {
  right:0;
  background: linear-gradient(-90deg, rgba(0, 18, 36, 1)0%, rgba(0, 212, 255, 0)100%);
}
.slider-container:hover .slider-arrow {
  opacity: 1;
}
.carousel {
  max-width: 1200px;
  margin: 50px auto;
}
